name: Upload Glue Scripts to S3

on:
  push:
    paths:
      - "glue-scripts/**"

jobs:
  upload-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload Glue scripts to S3
        run: |
          aws s3 sync glue-scripts/ s3://amzn-s3-finalproject-curated-v1/scripts/
